<section
    {{on 'mouseenter' this.mouseEnter }}
    {{on 'mouseleave' this.mouseLeave }}
    class="relative flex flex-col items-center justify-between p-6 shadow rounded-xl bg-ember-white"
  >
  {{#if this.showEditButton}}
    <i
      data-test-edit
      {{on 'click' (fn this.handleClickEdit @id)}}
      class="absolute cursor-pointer fa-solid fa-pen-to-square text-ember-light-blue right-6 top-6"
    />
  {{/if}}
  <div class="flex items-center justify-center h-44">
    <img data-test-avatar class="max-h-full" src="/images/mascots/{{@image}}" alt={{@title}}>
  </div>
  <div class="flex flex-col-reverse items-center justify-between w-full mt-4 font-semibold tracking-wide sm:flex-row text-ember">
    <h2 class="flex-1 truncate text-ellipsis" data-test-title>{{@title}}</h2>
    <div class="text-xs md:mb-1 text-ember-yellow">
      <Stars @repeat={{@stars}}/>
    </div>
  </div>
</section>